/* Sidebar / Profile Avatar */
.author__avatar {
  width: 160px !important;
  height: 160px !important;
}

/* Post or Page Header Avatar */
.page__hero--overlay .author__avatar {
  width: 160px !important;
  height: 160px !important;
}
